<header class="header">
    <div class="navigation-bar">
        <div id="navigation-container">
            <img src="/public/img/LOGO.png" alt="logo">
            <ul>
                <li><a href="../connections/NewConnections">Start a new connection</a></li>
                <li><a href="/Login">Login</a></li>
                <li><a href="/Logout">Logout</a></li>
                <li><a href="/SignUp">Signup</a></li>
            </ul>
        </div>
        <div class="site-name-holder">
            <h1 class="site-name">Niner Design Week</h1>
        </div>
        <section class="page-name">
            <h1>
                <%= title %>
            </h1>
            <ul>
                <li><a href="/index">HOME</a> </li>
                <li><a href="/connections">CONNECTIONS</a> </li>
                <li><a href="/connection">DETAILS</a> </li>
                <li><a href="/SavedConnections">SAVED</a> </li>
            </ul>
        </section>
    </div>
</header>