/* global */

body {
    background: rgb(135, 135, 136);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url("./topography.png");
    background-blend-mode: soft-light;
    ba
}


/* Header */

#navigation-container {
    box-sizing: border-box;
    width: auto;
    margin: auto;
    height: 100px;
}

.navigation-bar {
    background-color: black;
    background-image: url("./headerpic.jpg");
    background-size: 100%;
    background-position: bottom;
    height: 100%;
    width: 100%;
}

.navigation-bar img {
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-left: 50px;
    margin-top: 15px;
}


/* Header */


/* Menu */

.navigation-bar ul {
    padding: 0px;
    padding-top: 20px;
    margin: 0px;
    vertical-align: top;
    text-align: right;
    background-color: rgba(0, 47, 255, 0.507);
}

.navigation-bar li {
    list-style-type: none;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.472);
    border-radius: 3px;
    display: inline;
    margin-right: 5px;
}

.navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 100px;
    padding: 5px 15px;
}

.site-name-holder {
    height: 20px;
    position: relative;
    top: -50px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.site-name {
    margin: 0px;
}


/* Header */


/* Page Name */

.page-name {
    margin-left: 0px;
    height: 60px;
}

.page-name h1 {
    line-height: 60px;
    margin: auto;
    padding-left: 20px;
    text-align: left;
    background-color: rgba(0, 47, 255, 0.507);
}


/* FOOTER */

.footer-distributed {
    background-color: rgba(0, 47, 255, 0.507);
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
    color: white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* FOOTER */


/* LEFT */

.footer-left {
    margin-top: 10px;
    width: 40%;
}

.footer-left h3 {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.footer-left ul {
    list-style-type: none;
    margin: 5px;
    text-align: left;
    padding: 0px;
    padding-top: 5px;
}

.footer-left li {
    list-style-type: none;
    display: inline;
    border-right: solid white 1px;
}

.footer-left li a {
    color: white;
    /* font-size: 16px; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* line-height: 100px; */
    padding: 5px 15px;
}

.footer-left h6 {
    margin-top: 15px;
    margin-left: 20px;
}


/* FOOTER */


/* RIGHT */

.footer-right {
    margin-top: 10px;
    width: 200px;
}

.footer-right h3 {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.footer-right ul {
    list-style-type: none;
    margin: 5px;
    text-align: left;
    padding: 0px;
    margin-top: 20px;
}

.footer-right li {
    list-style-type: none;
    display: inline;
}

.footer-right li a {
    color: white;
    /* font-size: 16px; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* line-height: 100px; */
    padding: 5px 15px;
    margin-left: 15px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* FOOTER */


/* ICON */

.instagram {
    background-image: url("./inst.png");
}

.youtube {
    background-image: url("./yt.png");
}

.facebook {
    background-image: url("./fb.png");
}


/* Body */

.body {
    margin: 0px;
    padding: 0px;
}


/* Body Images */


/* index */

.imagestiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.imagestiles figure {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.imagestiles figcaption {
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    color: white;
}

.fig-img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: gray 0px 0px 10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}


/* Body Text */

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* top: 572px; */
    /* bottom: 70px; */
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    height: 100%;
}

.sec2 h1 {
    margin: 10px;
    padding: 0px;
}

.sec2 p {
    margin: 0px;
    padding: 0px;
}