<%- include('../partials/head.ejs') %>

    <body>
        <!-- ```````````````````````HEADER```````````````````````  -->
        <%- include('../partials/header.ejs') %>
            <%- include('../partials/messages.ejs') %>

                <!-- ```````````````````````BODY```````````````````````  -->
                <div class=formParent>
                    <form action="/connections/NewConnections" method="POST">
                        <!-- Topic -->
                        <label for="conTopic">Event Topic:</label>
                        <input type="text" id="conTopic" name="conTopic" required><br>
                        <!-- Title -->
                        <label for="conTitle">Event title:</label>
                        <input type="text" id="conTitle" name="conTitle" required><br>
                        <!-- Host -->
                        <label for="conHost">Event Host:</label>
                        <input type="text" id="conHost" name="conHost" required><br>
                        <!-- Detail -->
                        <label for="conDetails">Event Details:</label>
                        <textarea type="text" id="conDetails" name="conDetails" required> </textarea><br>
                        <!-- Location -->
                        <label for="conLocation">Event Location:</label>
                        <input type="text" id="conLocation" name="conLocation" required><br>
                        <!-- Date -->
                        <label for="conDate">Event Date:</label>
                        <input type="date" id="conDate" name="conDate" required><br>
                        <!-- Start -->
                        <label for="conStart">Event Start:</label>
                        <input type="time" id="conStart" name="conStart" required><br>
                        <!-- End -->
                        <label for="conEnd">Event End:</label>
                        <input type="time" id="conEnd" name="conEnd" required><br>
                        <!-- Image -->
                        <label for="conImgURL">Image:</label>
                        <input type="text" id="conImgURL" name="conImgURL"> <br>
                        <!-- Submit -->
                        <input type="submit" value="Submit">
                    </form>

                </div>
                <!-- ```````````````````````FOOTER```````````````````````  -->
                <%- include('../partials/footer.ejs')  %>
    </body>

    </html>