<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOME</title>
</head>

<body>


    <header class="header">
        <div class="navigation-bar">
            <div id="navigation-container">
                <img src="/img/LOGO.png" alt="logo">
                <ul>
                    <li><a href="#">Start a new connection</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>
            <div class="site-name-holder">
                <h1 class="site-name">Niner Design Week</h1>
            </div>
            <section class="page-name">
                <h1>HOME</h1>
            </section>
        </div>
    </header>





    <section class="body">
        <section class="sec1"></section>
        <section class="imagestiles">
            <figure>

                <img class="fig-img" src="/img/lamps.jpg" alt="coonection image">
                <figcaption> CONNECT </figcaption>

            </figure>
            <figure>

                <img class="fig-img" src="/img/share.jpg" alt="coonection image">
                <figcaption> EXPLORE </figcaption>

            </figure>
            <figure>

                <img class="fig-img" src="/img/make.jpg" alt="coonection image">
                <figcaption> LEARN </figcaption>

            </figure>
        </section>
    </section>


    <section class="sec2">
        <h1> Niner Design Week</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quia dolore nesciunt eaque sed architecto sunt eius temporibus dignissimos debitis it aque culpa. Velit molestiae, repellat magnam ipsam officiis commodi quia! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Deserunt, quia dolore nesciunt eaque sed architecto sunt eius temporibus dignissimos debitis it aque culpa. Velit molestiae, repellat magnam ipsam officiis commodi quia! sit amet consectetur adipisicing
            elit. Deserunt, quia dolore nesci.

        </p>
    </section>






    <footer class="footer-distributed">


        <section class="footer-left">
            <h3>NDW</h3>
            <ul>
                <li><a href=""> ABOUT</a></li>
                <li><a href=""> CONTACT</a></li>
                <li><a href=""> DIRECTORY</a></li>

            </ul>
            <h6>NDW © 2020</h6>

        </section>
        <!-- <sec class="footer-center">b</sec> -->
        <section class="footer-right">
            <h3>SOCIAL MEDIA</h3>
            <ul>
                <li>
                    <a class="instagram" href=""> </a>
                </li>
                <li>
                    <a class="youtube" href=""> </a>
                </li>
                <li>
                    <a class="facebook" href=""> </a>
                </li>

            </ul>

        </section>



    </footer>


</body>

</html>