<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/savedconnectionsstyle.css">

    <title> Saved Connections</title>
</head>

<body>

    <!-- ```````````````````````HEADER```````````````````````  -->

    <header class="header">
        <div class="navigation-bar">
            <div id="navigation-container">
                <img src="/img/LOGO.png">
                <ul>
                    <li><a href="#">Start a new connection</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>
            <div class="site-name-holder">
                <h1 class="site-name">Niner Design Week</h1>
            </div>
            <section class="page-name">
                <h1>SAVED CONNECTIONS</h1>
            </section>
        </div>
    </header>


    <!-- ```````````````````````BODY```````````````````````  -->



    <section class="body">
        <section class="detailHolder">
            <table class="tables">
                <tr>
                    <th>Connections</th>
                    <th>Category</th>
                    <th>Going?</th>
                    <th>Settings</th>

                </tr>
                <tr>
                    <td>dg</td>
                    <td>Peter</td>
                    <td><button class="going">yes</button></td>
                    <td><button class="update">UPDATE</button><button class="delete">DELETE</button></td>

                </tr>

                <td>Peter</td>
                <td> gf</td>
                <td><button class="going">yes</button></td>
                <td><button class="update">UPDATE</button><button class="delete">DELETE</button></td>
                <tr>

                </tr>
            </table>
        </section>
    </section>


    <!-- ```````````````````````FOOTER```````````````````````  -->


    <footer class="footer-distributed">


        <sec class="footer-left">
            <h3>NDW</h3>
            <ul>
                <li><a href=""> ABOUT</a></li>
                <li><a href=""> CONTACT</a></li>
                <li><a href=""> DIRECTORY</a></li>

            </ul>
            <h6>NDW © 2020</h6>

        </sec>

        <sec class="footer-right">
            <h3>SOCIAL MEDIA</h3>
            <ul>
                <li>
                    <a class="instagram" href=""> </a>
                </li>
                <li>
                    <a class="youtube" href=""> </a>
                </li>
                <li>
                    <a class="facebook" href=""> </a>
                </li>

            </ul>

        </sec>



    </footer>


</body>

</html>