<%- include('./partials/head.ejs') %>

    <body>

        <!-- ```````````````````````HEADER```````````````````````  -->

        <%- include('./partials/header.ejs') %>



            <!-- ```````````````````````BODY```````````````````````  -->



            <section class="body">
                <section class="detailHolder">
                    <table class="tables">
                        <tr>
                            <th>Connections</th>
                            <th>Category</th>
                            <th>Going?</th>
                            <th>Settings</th>

                        </tr>
                        <tr>
                            <td>Art Introduction</td>
                            <td>WORKSHOPS</td>
                            <td><button class="going">yes</button></td>
                            <td> <a class="update" href="/Views/connection">UPDATE</a> <a class="delete" href="/Views/SavedConnections.html">DELETE</a></td>
                        </tr>
                        <tr>
                            <td>Contemprory Art</td>
                            <td>LECTURES</td>
                            <td><button class="going">yes</button></td>
                            <td> <a class="update" href="/Views/connection">UPDATE</a> <a class="delete" href="/Views/SavedConnections.html">DELETE</a></td>
                        </tr>
                    </table>
                </section>
            </section>


            <!-- ```````````````````````FOOTER```````````````````````  -->


            <%- include('./partials/footer.ejs')  %>

    </body>

    </html>